################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Mp4Browser/bin/Debug
/src/.vs/Mp4Browser
/src/Mp4Browser/obj/Debug
/src/Mp4Browser/bin/Release
/src/Mp4Browser/obj/Release/TempPE
/src/Mp4Browser/obj/Release
